.v-centered{
  display: grid;
  align-self: center;
}
.text-coder{
  color: #e9b701;
}
.logo{
  width: 7rem;
}

.login{
  background-image: url("../images/bg-pattern.svg");
  background-position: center;
  background-size: 25rem;
}
#login{
  background-color: rgba(233, 183, 1, 0.055);
  min-height: 100vh;
}

}

