:root{
  --primary-color: #e9b701;
  --dark-color: #383838;
  --light-gray: #666666;
}

/* Default Styles */
html{
  /* Untuk projek ini, 1rem = 14px */
  font-size: 87.5%; 
}
body{
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
}
a{
  box-sizing: border-box;
  text-decoration: none;
  color: #000000;
}
a:hover{
  color: #e9b701;
}
p{
  line-height: 1.5em;
}
h1{
  font-size: 5.7rem;
  font-weight: 700;
}
h2{
  font-size: 1.9rem;
  line-height: 1.26em;
}

/* Utilities */
.wrap{
  width: 1060px;
  margin: auto;
}
.grid{
  display: grid;
}
.site-logo{
  height: 2.5rem;
}
.logo{
  height: 1.2rem;
  padding-right: 0.6rem;
  vertical-align: top;
}
.horizontal-links li{
  display: inline;
}
.page-selected{
  border-bottom: 0.17rem solid #e9b701;
}
.text-dark-mode{
  color: #ffffff;
}
.v-centered-grid{
  align-items: center;
}
.v-centered{
  display: table-cell;
  vertical-align: middle;
  height: inherit;
  width: 100vw;
}
.h-centered-grid{
  justify-items: center;
}
.h-centered{  
  text-align: center;
}
.button{
  display: inline-block;
  background-color: inherit;
  padding: .8rem 1.5rem;
  border: 0.13rem solid #e9b701;
  font-weight: 500;
  font-size: 1rem;
  color: #e9b701;
  border-radius: 0.2rem;
}
.button:hover{
  background-color: #e9b701;
  color: white;
}
.button-dark-mode{
  border-color: #ffffff;
  border-width: 0.1rem;
  color: #ffffff;
  font-weight: 400;
  font-size: inherit;
}
.button-dark-mode:hover{
  background-color: #fff;
  color: #383838; 
}
.weight-medium{
  font-weight: 500;
}
.weight-semibold{
  font-weight: 600;
}
.weight-bold{
  font-weight: 700;
}
.text-coder{
  color: #e9b701;
}
a:hover.text-coder{
  color: inherit;
}
.text-dark{
  color: #383838;
}
.devider{
  width: 28rem;
  margin-top: 1.3rem;
}
.list{
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
  margin: 4rem 0;
}
.list-content{
  width: 20rem;
  padding: 3rem;
  border: 0.25rem solid var(--primary-color);
  grid-auto-rows: 1fr;
}
.list-content-images{
  width: 9rem;
}
.list-content-header{
  margin: 1.5rem 0 0.8rem 0;
}
.anchor>a{
  position: absolute;
  left: 0;
  top: -6.3rem;
}
/* Custom Select */
.custom-select select {
  font-family: inherit;
  font-size: 0.95rem;
  width: 100%;
  height: 100%;
  background: none;
  border: none;
  -webkit-appearance: none;
  padding: 0.8rem;
  cursor: pointer;
}

.custom-select select:focus {
  outline: none;
}

.custom-select option {
  font-family: inherit;
  padding: 1rem;
}

.custom-select .select {
  position: relative;
  background: #fff;
  border: 0.1rem solid #e9b7017e;
  border-radius: 0.2rem;
  cursor: pointer;
}

.custom-select .select:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 40px;
  pointer-events: none;
}

.custom-select .select:after {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0.5rem 0.35rem 0;
  border-color: #e9b7017e transparent transparent transparent;
  position: absolute;
  right: 11px;
  top: 50%;
  transform: translateY(-50%);
}
/* END Custom Select */

/* Navigation */
#navigation{
  z-index: 100;
  width: 100%;
  padding: 1.5rem 0;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  box-shadow: 0 0 0.3rem 0.15rem rgba(0, 0, 0, 0.541);
}
#navigation .grid{
  grid-template-columns: 2fr 5fr;
}
#navigation ul{
  padding-top: 0.8rem;
  justify-self: end;
}
#navigation li{
  padding-left: 2rem;
  vertical-align: bottom;
}
#navigation a{
  padding: 0.4rem 0.3rem;
}

/* Hero*/
#hero{
  position: relative;
  color: white;
  background-image: url("../images/main-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}
#hero h1{
  margin-top: 4rem;
  font-size: 7rem;
}
#hero .devider{
  width: 31rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
#hero .scroll{ 
  width: 1.5rem;
  bottom: 3.5rem;
  position: absolute;
}

/* Intro */
#intro{
  padding: 8rem 0;
  position: relative;
}
#intro .wrap{
  width: 988px;
}
#intro p{
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.7;
  margin: 3rem 0;
}
#intro a{
  font-size: 1.5rem;
  font-weight: 500;
}

/* Services */
#services{
  background-color: #FFFCF2;
  padding: 7rem 0;
}

/* Blog */
#blog{
  padding: 7rem 0;
}
#blog .devider{
  width: 52rem;
}
#blog .post{
  margin: 5rem 0 3rem 0;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 1fr;
  gap: 5rem;
}
#blog img{
  width: 35.29rem;
}
#blog h2{
  margin-top: 1.4rem;
}
#blog .post-info{
  margin-top: 0.7rem;
  font-size: 0.94rem;
  color: #666666;
}
#blog .blog-link{
  font-size: 1.5rem;
}

/* Footer */
#footer{
  background-color: #383838;
  color: #383838;
  text-align: center;
  padding: 2rem 0;
}
#footer ul{
  margin-top: 1.4rem;
  margin-bottom: 2.5rem;
}
#footer img{
  padding-left: 1rem;
}
#footer p:last-child{
  margin-top: 1.4rem;
}
/* Change the button */